export(aggregate_OCN)
export(continue_OCN)
export(create_general_contour_OCN)
export(create_OCN)
export(create_peano)
export(draw_contour_OCN)
export(draw_elev2D_OCN)
export(draw_elev3D_OCN)
export(draw_elev3Drgl_OCN)
export(draw_simple_OCN)
export(draw_subcatchments_OCN)
export(draw_thematic_OCN)
export(find_area_threshold_OCN)
export(landscape_OCN)
export(paths_OCN)
export(rivergeometry_OCN)
export(OCN_to_igraph)
export(OCN_to_SSN)
export(OCN_to_AEM)
exportClasses(river)
exportMethods(plot, show, names, "$<-", "$", "[[","[[<-") 
# import(SSN)
# import(fields)
import(rgl)
import(spam)
# import(bookdown)
import(igraph)
import(adespatial)
import(spdep)

importFrom("fields", "imagePlot")
importFrom("grDevices", "colorRampPalette", "contourLines", "rainbow",
             "terrain.colors", "trans3d", "hcl.colors","dev.list")
importFrom("graphics", "lines", "par", "persp", "plot", "points",
			 "polygon","legend")
importFrom("methods", "new", "slot", "slot<-", "slotNames", "show")
importFrom("stats", "optim", "runif")
# importFrom("rgdal", "writeOGR")
# importFrom("sp", "Line", "Lines", "SpatialLines", "SpatialLinesDataFrame",
#	"SpatialPointsDataFrame")
importFrom("utils", "write.table")
importFrom(Rcpp, evalCpp)

useDynLib(OCNet, .registration = TRUE)
